Repository zulip/zulip-flutter, pull requests merged in 2023-12, with the labels that each got.

#425 test: Generate random, increasing user IDs for example data by default
  test/example_data.dart
  test/notifications_test.dart
Labels: a-tests

#431 content: Stop accidentally dropping paragraph text style in user mentions
  lib/widgets/content.dart
Labels: a-content

#470 api: On parse failure, include details in exception
  assets/l10n/app_en.arb
  lib/api/core.dart
  lib/api/exception.dart
  test/api/core_test.dart
  test/api/exception_checks.dart
Labels: a-tools, a-api
